/* header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Askhar", sans-serif;
}
header{
    width: 100%;
    position: absolute;  
    top: 0;
    left: 0;  
}

header .menu{
    width: 1199px;
    margin: auto;
    height: 140px;
}
header .menu_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
}

header nav{
    display: flex;
    align-items: center;
    height: 100%;
}

header ul{
    display: flex;
}
header li{
    list-style: none;
    padding: 50px 15px;
}
header nav a{
    text-decoration: none;
    text-transform: capitalize;
    color: #070120;
    font-size: 14px;
    font-weight: bold;
}
header nav a:hover{
    color: #f55f8d;
}
header nav a:hover span{
    animation: uptodown 0.3s;
    
}

@keyframes uptodown{
    49%{
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }  
}
header nav span{
    display: inline-block;
    transition: all 0.6s;
}
header nav i{
    font-size: 9px;
    vertical-align: middle;
    margin-top: -3px;
    transition: all 0.4s;
}

header .nut{
    padding: 50px 15px;
    margin-left: 18px
}
header button{
    padding: 20px 35px;
    font-size: 15px;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    line-height: 1.2;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 32px;
    transition: 0.5s;
    background-size: 200%;
    box-shadow: 0 0 20px #eee;
}
header button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* start carousel */

.se_carousel{
    padding-top: 200px;
    background-image: url(./Samar/pic2.png);
    background-position: top;
    background-size: 100%;
}
.se_carousel .carousel{
    max-width: 1199px;
    margin: auto;
   
}
.se_carousel .container{
    display: flex;
    align-items: center;
}

.se_carousel .left {
    width: 60%;
}
.se_carousel .title p {
    font-size: 20px;
    font-weight: 600;
    color: salmon;
    margin-bottom: 20px;
    
}
.se_carousel .title h2 {
    font-size: 70px;
    line-height: 1.2;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}
.se_carousel .article p{
    font-size: 18px;
    margin-bottom: 20px;
}
.se_carousel .article li{
    list-style: none;
    font-size: 20px;
    padding: 8px 0;
    height: 55px;
    
}
.se_carousel .article i{
    width: 33px;
    height: 33px;
    line-height: 33px;
    color: white;
    border-radius: 40px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    font-size: 25px;
    margin-right: 12px;
    margin-bottom: 15px;
}
.se_carousel .article button{
    padding: 20px 35px;
    font-size: 15px;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    line-height: 1.2;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 32px;
    transition: 0.5s;
    background-size: 200%;
    margin-top: 15px;
    box-shadow: 0 0 20px #eee;
}
.se_carousel .article button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.se_carousel .right {
    width: 40%;
}
.se_carousel .right .anh{
    margin-left: 50px;
    display: block;
    width: 571px;
}

/* service */
.service{
    padding-top: 130px;
    background-image: url(./Samar/bg2.png);
    background-position: top center;
    background-size: cover;
}
.service .content{
    max-width: 1199px;
    margin: 0 auto;
}
.service .content_tren{
    text-align: center;
}
.service .content_tren p{
    font-size: 20px;
    font-weight: 600;
    color: salmon;
    margin-bottom: 20px;
}
.service .content_tren h2{
    font-size: 70px;
    line-height: 1.2;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}
.service .content_duoi{
    margin-top: 40px;
    width: 1199px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.service .content_duoi .item{
    background-color:#fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    text-align: center;
    padding: 30px 40px;
    transform: translateY(0px);
    transition: all .5s;
}
.service .content_duoi .item:hover{
    transform: translateY(-30px);
}
.service .content_duoi img{
    width: 220px;
}
.service .content_duoi h3{
    font-weight: bold;
    font-size: 23px;
    margin: 18px 0;
    color: black;
}

/* About */
.about{
    margin-top: 120px;
    background-image: url(./Samar/bg15.png);
    background-position:  center right;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100%;
    padding-bottom: 80px;
}

.about .content{
    max-width: 1199px;
    margin: auto;
}
.about .content_item{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}
.about .left{
    width: 60%;
    position: absolute;
    left: -15%;
}
.about .left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.about .title p{
   margin-bottom: 15px;
   font-size: 20px;
   color: #f55f8d;
   font-weight: 700;
}
.about .right{
    width: 50%;
}
.about .right h2{
    font-size: 70px;
    line-height: 1.2;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.about .right p{
    margin-bottom: 18px;
}
.about .right i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}
.about .right ul{
    list-style: none;
    margin-bottom: 25px;
}
.about .right li{
    padding:  6px 0;
}
.about .content_item button{
    padding: 20px 35px;
    font-size: 15px;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    line-height: 1.2;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 32px;
    transition: 0.5s;
    background-size: 200%;
    margin-top: 12px;
    box-shadow: 0 0 20px #eee;
}
.about .content_item button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* number */

.number{
    
    background-image: url(./Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0 50px;
}
.number .content{
    max-width: 1199px;
    margin: auto;
}
.number .content_item{
    display: flex;
    justify-content: space-around;
}
.number .stt{
    width: 25%;
}
.number .stt i{
    font-size: 45px;
    height: 80px;
    width: 80px;
    color: white;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 16px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.number .stt p:first-of-type{
    font-size: 65px;
    font-weight: bold;
    color: #f55f8d;
    line-height: 1.2;
}
.number .stt p:last-of-type{
    font-size: 18px;
    color: black;
}

/* features */

.features{
    margin-top: 105px;
    background-image: url(./Samar/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.features .content{
    max-width: 1199px;
    margin: auto;
}
.features .content_item{
    display: flex;
}
.features .info_item{
    display: flex;
    padding: 25px;
    align-items: center;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);  
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    /* color: black; */ 
    z-index: 1;
    width: 92%;
    background-color: #fff;
    transition: all 1s;
}
.features .info_item:hover i.trang{
    color: #fff;
}
.features .info_item:hover h3.trang{
    color: #fff;
}
.features .info_item:hover p.trang{
    color: #fff;
}
.features .second{
    margin-left: 48px;
}
.features .info_item::before{
    position: absolute;
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
    z-index: -1;
}
.features .info_item:hover::before{
    opacity: 1;
}
.features .left{
    max-width: 50%;
}
.features .left .title  p{
    margin-bottom: 15px;
    font-size: 23px;
    color: #f55f8d;
    font-weight: 700;
}
.features .left .title h2{
    font-size: 70px;
    line-height: 1.2;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.features .left .info_item i{
    font-size: 80px;
    color: #f55f8d;;
    line-height: 1.2;
    transition: all 0.5s;
    z-index: 1;
}
.features .left .info p{
    color: rgb(89, 88, 88);
}
.features .left .info h3{
    font-weight: bold;
    color: #262626;
    font-size: 24px;
}
.features .left .info i.trang{
    transition: all 1s;
}
.features .left .info h3.trang{
    transition: all 1s;
}
.features .left .info p.trang{
    transition: all 1s;
}

.features .left .info .text{
    padding-left: 20px;
}
.features .left .text p{
    padding-top: 8px;
}
.features .right{
    max-width: 50%;
}
.features .right .anh{
    margin-right: -80px;
}
.features .right img{
    max-width: 100%;
    animation: move2 5s infinite;
}

@keyframes move2{
    0% {transform:rotate(1deg) translate(2px,2px)
    }

    50% {transform:rotate(-1deg) translate(-2px,-2px)
    }

    100% {transform:rotate(1deg) translate(2px,2px)  
    }
}

/* Portfolio */

#animated-thumbnails i{
    font-size:40px;
    margin-right:20px;
    cursor:pointer;
}
.portfolio{
    margin-top: 110px;
    background-image: url(./Samar/bg17.png);
    background-size: cover;
    text-align: center;
    background-position: top center;
}
.portfolio .content{
    max-width: 1199px;
    margin: auto;
}
.portfolio .hi_anh{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 35px;
}
.portfolio .fifth{
    grid-column: 1 / span 2;
}
.portfolio .sixth{
    grid-column: 3/4;
    grid-row: 2/4;
}
.portfolio .title p{
    margin-bottom: 15px;
    font-size: 20px;
    color: #f55f8d;
    font-weight: 700;
}
.portfolio .title h2{
    font-size: 70px;
    line-height: 1.2;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}

.portfolio .first{
    grid-column: 1 / span 2;
}
.portfolio .port_item img{
    width: 100%;
    height: 100%;
}
.portfolio .port_item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
.portfolio .port_item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    /* opacity: 0; */
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}
.portfolio .port_item:hover::before {
    left: 125%;
}
.portfolio .portfolio__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s;
}
.portfolio .portfolio__overlay:hover{
    opacity: 1;
}
.portfolio .portfolio__overlay .portfolio__icon i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
}

.portfolio .portfolio__overlay:hover .portfolio__icon i{
    transform: translate(0px);
}


.portfolio .portfolio__overlay .portfolio__text{
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(150px);
    transition: all 0.8s; 
    text-align: left;
}
.portfolio .portfolio__overlay:hover .portfolio__text{
    transform: translateY(0px); 
}

.portfolio .portfolio__overlay .portfolio__text p {
    font-weight: 500;
    color: rgb(209, 208, 208);
    font-size: 15px;
    padding: 8px 0;
}

/* Plan */
.plan{
    margin-top: 120px;
    text-align: center;
}
.plan .content{
    max-width: 1199px;
    margin: auto;
}
.plan .title p{
    margin-bottom: 15px;
    font-size: 20px;
    color: #f55f8d;
    font-weight: 700;
}
.plan .title h2{
    font-size: 70px;
    line-height: 1.2;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.plan .option{
    margin-top: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.plan .item{
    padding: 30px 60px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px; 
    transition: all .5s;
    border: 3px solid transparent;
    border-image: 100 round ;
}
.plan .item:hover{
    border-image: url(./Samar/br.png) 1 round;
}
.plan .item p{
    font-size: 18px;
    color: #262626;
    font-weight: bold;
    padding-bottom: 12px;
}
.plan .item h3{
    font-weight: bold;
    color: black;
    font-size: 30px;
}
.plan .item span.mot{
    color: #f8ae56;
    font-size: 50px;
    font-weight: bold;
}
.plan .item img{
    width: 130px;
}
.plan .item ul{
    border-top: 1px solid grey;
    padding-top: 18px;
    text-align: left;
}
.plan .item li{
    list-style: none;
    padding: 8px 0;
    margin-right: 75px;
}
.plan .item i{
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
    font-size: 12px;
    background-color: #feeff3;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.plan button{
    padding: 20px 35px;
    font-size: 15px;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    line-height: 1.2;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 32px;
    transition: 0.5s;
    background-size: 200%;
    box-shadow: 0 0 20px #eee;
    text-transform: uppercase;
    margin-top: 12px;
}
.plan button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


/* testimnoial */
.testimonial{
    margin-top: 110px;
    text-align: center;
    background-image: url(./Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
}
.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
    transition: all .5s;
}
.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
}
.testimonial-comment {
    min-height: 300px;
    width: 100%;
}
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 35px;
}
.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    /* margin: 20px 100px; */
    border-radius: 10px;
    background-color: #fff;
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative;
}
  .testimonial-text span{
    display: block;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
    color: #f55f8d;
    margin-top: 15px;
}
.testimonial-pic::before{
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    bottom: 30px;
    opacity: 0;
}

.testimonial-pic::after{
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    bottom: 0;
    opacity: 0; 
}
.swiper-slide-thumb-active .testimonial__pic::after, .swiper-slide-thumb-active .testimonial__pic::before {
    opacity: 1;
}

.testimonial-text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}
.testimonial-text p{
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 14px 14px;
  color: rgb(103, 101, 101);
}

.testimonial-name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.swiper-pagination{
    position: relative; 
}

.shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial__pic .shape-bx {
    opacity: 1;
}
.shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}
.testimonial .key_w p{
    margin-bottom: 15px;
    font-size: 20px;
    color: #f55f8d;
    font-weight: 700;
}
.testimonial .key_w h2{
    font-size: 70px;
    line-height: 1.2;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}


/* bLog */
.blog{
    margin-top: 110px;
    text-align: center;
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}
.blog .content{
    width: 1199px;
    margin: auto;
}
.blog .blog_item{
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}
.blog .blog_item .anh{
    position: relative;
}
.blog .blog_item .anh p{
    position: absolute;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    bottom: -20px;
    left: 15px;
    padding: 13px 18px;
    font-size: 14px;
    color: #fff;
}
.blog .blog_item  img{
    border-radius: 8px;
}
.blog .title p{
    margin-bottom: 15px;
    font-size: 20px;
    color: #f55f8d;
    font-weight: 700;
}
.blog .title h2{
    font-size: 70px;
    line-height: 1.2;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}
.blog .blog_content{
    margin-top: 40px;
}
.blog .text{
    text-align: left;
    padding: 30px 15px 18px 15px;
    line-height: 1.4;
    border-bottom: 1px solid grey;
}
.blog .text h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog .text p{
    padding-bottom: 15px;
}
.blog .relate{
    display: flex;
    text-align: left;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
    padding-left: 13px;
}
.blog .relate p:first-of-type{
    margin-right: 20px
}
.blog .relate p:first-of-type span {
    color: #f55f8d;
}
.blog .relate i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

/* final */

.final{
    position: relative;
    color: #fff;
    font-size: 16px;
    background-image: url(./Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
}
.final::before{
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(./Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.final .content{
    max-width: 1199px;
    margin: auto;
}
.final .f_top {
    display: flex;
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    align-items: center;
}
.final .f_top .top_text{
    width: 50%;
}
.final .top_text h2{
    font-size: 28px;
    color: #262626;
}
.final .f_top .top_email{
    width: 50%;
}
.final .top_email form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%); 
}
.final .top_email input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 500;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 8px 0 0 8px;
    border: 1px solid #fff;
    outline: 0;
    transition: all 0.5s;
}
.final .top_email input:hover{
    border-color: #f55f8d;
}
.final .top_email button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 8px 8px 0;
    color: #fff;
    cursor: pointer;
}
.final .top_email button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.final .f_bottom{
    display: flex;
    padding: 75px 0;
    position: relative;
}
.final .f_bottom .item{
    width: 25%;
}
.final .f_bottom li{
    list-style: none;
    display:flex;
}
.final .contact i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.final .f_bottom h3 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 28px;
    position: relative;
    color: #fff;
    padding-bottom: 15px;
}
.final .f_bottom h3::before{
    width: 16px;
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    height: 4px;
    opacity: 1;
    background-size: 200%;
    border-radius: 18px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.final .f_bottom h3::after{
    width: 47px;
    position: absolute;
    content: "";
    bottom: -3px;
    height: 4px;
    left: 20px;
    opacity: 1;
    background-size: 200%;
    border-radius: 18px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.final .f_bottom a{
    color: #636363;
    font-size: 16px;
    transition: all 0.4s;
    text-decoration: none;
}
.final .f_bottom a:hover{
    color: #fff;
}
.final .f_bottom .item li{
    padding: 10px 0;
}
.final .f_bottom li i{
    font-weight: 700;
    margin-right: 10px;
}

/* copyright */
.final .copyright{
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.final .copyright .content{
    max-width: 1199px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.final .copyright .left span{
    color: #f55f8d;
}
.final .copyright .right a{
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all 0.5s;
    cursor: pointer;
}
.final .copyright .right a:hover{
    background-color: #f55f8d;
}

/* back to top */
.btt {
    width: 50px;
    height: 50px;
    display: flex;
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    border-radius: 8px;
    background-color: #f55f8d;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    text-decoration: none;
    z-index: 10;
}
.btt:hover {
    background-color: #f55f8d;
}
.btt i {
    font-size: 15px;
    display: block;
    margin: auto;
    color: #fff;
}
.cd-top--is-visible {
    opacity: 1;
}
  


  


